{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr style="margin-bottom: 25px;">
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.product.discounted_price}}</p>
        </div>
      </div>
      {% endfor %}
    <p class="fw-bold">Total Cost + Rs.50 = {{totalamount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-1">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}} value" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
      <br>
      {% endfor %}
        <div class="text-end">
<!--          <button type="submit" class="btn btn-danger mt-3 px-5 fw-bold">Continue</button>-->
         <!-- Set up a container element for the button -->
         <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div style="margin-bottom: 190px;"></div>
{% endblock main-content %}


{% block payment-gateway %}
 <!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASg8YDdQapxrpIMYULeX1FQZ0QV002RRCvmmWLnSREJlE2W_grsxrdHEML5ad4Nhibs5vX8gDJvBYPCg&currency=USD"></script>

    <!-- Set up a container element for the button -->
<!--    <div id="paypal-button-container"></div>-->

    <script>
      paypal.Buttons({

        // Sets up the transaction when a payment button is clicked
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '{{totalamount}}' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
              }
            }]
          });
        },

        // Finalize the transaction after payer approval
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction Complete');
                document.getElementById("myform").submit();
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // var element = document.getElementById('paypal-button-container');
            // element.innerHTML = '';
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');

    </script>
{% endblock payment-gateway %}